.steps {
    background-color: #333;

    @media only screen
    and (min-width: 320px)
    and (max-width: 768px) {
        padding: 60px 0;
    }

    @media only screen
    and (min-width: 768px)
    and (max-width: 1224px) {
        padding: 70px 0;
    }

    @media only screen
    and (min-width: 1224px) {
        padding: 100px 0 113px 0;
    }

    .grid {
        position: relative;
    }

    &__decoration {
        position: absolute;
        max-width: 300px;
        max-height: 54px;
        overflow: hidden;
        top: -43%;
        left: 18%;
        background: transparent;

        @media only screen
        and (min-width: 320px)
        and (max-width: 768px) {
            display: none; 
        }
    
        @media only screen
        and (min-width: 768px)
        and (max-width: 1224px) {
            display: none;  
        }
    
        @media only screen
        and (min-width: 1224px) {
            display: block;
        }

        & + & {
            transform: scale(-1, 1);
            left: auto;
            right: 18%;
        }
    }

    &__arc {
        margin-left: -99px;
        width: 500px;
        height: 250px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        border-top: 2px dotted #6b6b6b;
        border-left: 2px dotted #6b6b6b;
        border-right: 2px dotted #6b6b6b;
        background: transparent;
    }
    
    &__content {
        display: flex;
        justify-content: center;

        @media only screen
        and (min-width: 320px)
        and (max-width: 768px) {
            flex-direction: column;
        }
    
        @media only screen
        and (min-width: 768px)
        and (max-width: 1224px) {
            flex-direction: row; 
        }
    
        @media only screen
        and (min-width: 1224px) {
            flex-direction: row;
        }
    }

    &__item {
        position: relative;
        text-align: center;
        
        @media only screen
        and (min-width: 320px)
        and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 100px;

            &:not(:last-child):after {
                content: '';
                position: absolute;
                top: 140px;
                width: 1px;
                height: 50px;
                background: transparent;
                border-right: 2px dotted #6b6b6b;
            }            
        }
    
        @media only screen
        and (min-width: 768px)
        and (max-width: 1224px) {
            margin-right: 120px;
            margin-bottom: 0;

            &:not(:last-child):after {
                content: '';
                position: absolute;
                top: 35px;
                right: -125px;
                width: 130px;
                height: 1px;
                background: transparent;
                border-top: 2px dotted #6b6b6b;
            }   
        }
    
        @media only screen
        and (min-width: 1224px) {
            margin-right: 170px;
            margin-bottom: 0;
        }

        &:last-child{
            margin: 0;
        }
    }

    &__img {
        margin-bottom: 28px;
    }

    &__title{
       color: $color-white;
    }
}