.grid {
    width: 1110px;
    max-width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 -15px;
}

[class^="col-1-"] {
    padding: 0 15px;
}

.col-1-1 {
    width: 50%;
}